@import "../../App.scss";

.to-back-btn {
  position: fixed;
  top: 125px;
  right: 70px;
  border: 1px solid $primaryColor;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: $primaryColor;
  color: white;
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);

  @media screen and (max-width: 768px) {
    padding: 2px;
    left: 20px;
    right: auto;
    top: 140px;
  }
  @media screen and (max-width: 576px) {
    top: auto;
    bottom: 30px;
    left: 20px;
  }
}
.to-up-btn {
  position: fixed;
  bottom: 70px;
  right: 70px;
  cursor: pointer;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: $primaryColor;
  color: white;
  border: 1px solid $primaryColor;
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  @media screen and (max-width: 768px) {
    padding: 2px;
    right: 20px;
    bottom: 30px;
  }
}

.to-back-btn:hover,
.to-up-btn:hover {
  color: $primaryColor;
  background-color: white;
}
