@import "../../App.scss";

.to-back-btn {
  position: fixed;
  top: 125px;
  right: 70px;
  border: 1px solid $primaryColor;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: $primaryColor;
  color: white;

  @media screen and (max-width: 768px) {
    padding: 2px;
    right: 20px;
    top: 140px;
  }
}
.to-up-btn {
  position: fixed;
  bottom: 70px;
  right: 70px;
  cursor: pointer;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: $primaryColor;
  color: white;
  border: 1px solid $primaryColor;
  @media screen and (max-width: 768px) {
    right: 20px;
    bottom: 20px;
  }
}

.to-back-btn:hover,
.to-up-btn:hover {
  color: $primaryColor;
  background-color: white;
}
