@import "../../App.scss";

.reviews {
  padding-top: 30px;
  &__list {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &-item {
      display: flex;
      flex-direction: column;
      gap: 0.7rem;
      padding: 0.5rem 5%;
      border-top: 1px solid $primaryColor;
      border-bottom: 1px solid $primaryColor;
      h4 {
        color: $primaryColor;
        font-size: 1.3rem;
      }
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 50px 0;
    padding: 2rem 10%;
  }
  .pagination {
    button {
      color: $primaryColor;
    }
  }
}
