@import "../../App.scss";

.widget {
  position: fixed;
  bottom: 70px;
  left: 70px;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
  overflow: hidden;
  border: none;
  box-shadow: 0 0 0 0 $mainColor;
  animation: pulse 1.5s infinite;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #72e9b54f;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);

  @media screen and (max-width: 992px) {
    bottom: 50px;
    left: 50px;
  }

  @media screen and (max-width: 768px) {
    left: auto;
    bottom: auto;
    top: 32px;
    right: 105px;
    padding: 5px;
  }
  &-wrapper {
    display: flex;
    align-items: center;
  }
  &:hover {
    animation: none;
    background-color: #72e9b5;
  }

  img {
    width: 40px;
    @media screen and (max-width: 768px) {
      width: 25px;
    }
  }
  &__list {
    height: 200px;
    background: #72e9b5c1;
    position: fixed;
    left: 130px;
    bottom: 130px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    width: auto;
    border-radius: 10px;
    padding: 10px;
    z-index: 9999;

    @media screen and (max-width: 992px) {
      background: #72e9b5dc;
      bottom: 130px;
      left: 50px;
    }
    @media screen and (max-width: 768px) {
      left: auto;
      bottom: auto;
      top: 82px;
      right: 10px;
      padding: 5px;
    }
    &-item {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 20px;
      color: white;
      padding: 5px;
      transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
      border-radius: 10px;
      &:hover {
        background-color: #72e9b5;
      }
    }
    img {
      width: 40px;
    }
  }
}
.no-animation {
  animation: none;
}
.cancel-img {
  filter: saturate(83%);
  -webkit-filter: saturate(83%);
  -moz-filter: saturate(83%);
}
.callback-img {
  filter: saturate(101%) invert(82%);
  -webkit-filter: saturate(101%) invert(82%);
  -moz-filter: saturate(101%) invert(82%);
}

@keyframes pulse {
  0% {
    transform: (scale(0.8));
  }
  70% {
    transform: (scale(1.2));
    box-shadow: 0 0 15px 20px rgba(#5a99d4, 0);
  }
  100% {
    transform: (scale(0.8));
    box-shadow: 0 0 0 0 rgba(#5a99d4, 0);
  }
}
