@import "../../App.scss";
.about {
  h1 {
    margin: 30px 0;
  }

  &-sertificat {
    margin: 30px auto;
    width: 30%;
    display: block;
    @media screen and (max-width: 768px) {
      width: 90%;
    }
  }

  &-moscow {
    margin: 30px 0;

    text-align: right;
    h1 {
      margin-bottom: 30px;
    }
    h3 {
      color: $mainColor;
      margin: 5px 0;
    }
    img {
      float: left;
      width: 400px;
      margin-right: 20px;
      @media screen and (max-width: 768px) {
        width: 100%;
        margin: 0 0 20px 0;
        float: none;
      }
    }
  }

  &-swiss {
    margin: 50px 0;
    &__contant {
      margin: 50px 0;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap: 20px;
      &-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        background: $gradientBackgroundColorTransparent;
        padding: 20px;
        align-items: center;
        gap: 20px;
        -webkit-box-shadow: 0px 0px 21px -2px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 0px 0px 21px -2px rgba(34, 60, 80, 0.2);
        box-shadow: 0px 0px 21px -2px rgba(34, 60, 80, 0.2);
        & > p {
          width: 70%;
          text-align: center;
          @media screen and (max-width: 768px) {
            width: 100%;
          }
        }
        &--reverse {
          flex-direction: row-reverse;
        }
      }
      &-img {
        width: 200px;
        height: 200px;
        overflow: hidden;
        object-fit: cover;
        & > img {
          width: 100%;
        }
      }
    }
  }
  &-guarantee {
    padding: 30px 0;
    margin: 50px 0;
    align-items: center;
    background: $gradientBackgroundColorTransparent;
    img {
      width: 20%;
    }
    & > h2 {
      margin: 0 0 50px 0;
    }
    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 20px;
      @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: center;
      }
    }

    &__box {
      text-align: left;
      display: flex;
      width: 40%;
      align-items: flex-start;
      gap: 30px;
      p {
        @media screen and (max-width: 768px) {
          text-align: center;
        }
      }
      @media screen and (max-width: 768px) {
        width: 100%;
        align-items: center;
      }
      & > img {
        width: 60px;
      }
      &--reverse {
        flex-direction: row-reverse;
        text-align: right;
      }
    }
  }
  &-equipment {
    h1 {
      margin: 30px 0;
    }
    &-content {
      text-align: left;
      & > img {
        width: 50%;
        float: right;
        margin-left: 20px;
        margin-bottom: 20px;
        @media screen and (max-width: 768px) {
          width: 100%;
          margin-bottom: 20px;
        }
      }
      & > h3 {
        margin: 30px 0;
        color: $primaryColor;
      }
      & > p {
        margin-bottom: 30px;
      }
      & > ul {
        color: $primaryColor;
        margin: 50px;
        text-align: left;
        & > li {
          text-align: left;
          margin: 40px 0;
          line-height: 1.5rem;
          display: flex;
          gap: 10px;
        }
      }
    }
  }
  &__license {
    margin-top: 30px;
    text-align: center;
    line-height: 1.3rem;
    color: $mainColor;
  }
}
