@import "../../App.scss";
.specialists {
  h1 {
    text-align: center;
    margin: 30px auto;
  }
  &-subtitle {
    color: $mainColor;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 400;
    line-height: 1.4rem;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;

    &-item {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: space-between;
      width: 250px;
      padding: 20px;
      gap: 15px;
      background: transparent;
      margin-bottom: 20px;
      border-radius: 10px;
      -webkit-box-shadow: 0px 0px 11px -2px $primaryColor;
      -moz-box-shadow: 0px 0px 11px -2px $primaryColor;
      box-shadow: 0px 0px 11px -2px $primaryColor;
      &-subtitle {
        color: $mainColor;
        font-weight: 600;
        line-height: 1.4rem;
      }
      h4 {
        color: $mainColor;
        font-weight: 400;
        line-height: 1.2rem;
        font-size: 1rem;
      }
      & > img {
        width: 200px;
        border-radius: 10px;
      }
    }
  }
}
