@import "../../App.scss";

/*--------------reusable-------------*/
.title {
  font-size: 2rem;
  line-height: 2.4rem;
  text-align: center;
  font-weight: 600;
  color: $primaryColor;

  @media screen and (max-width: 576px) {
    font-size: 1.5rem;
  }
}
.quote {
  color: $mainColor;
  display: block;
  line-height: 2rem;
  font-size: 20px;
  text-align: center;
  padding: 40px 0;
  margin: 20px 0;
  border-top: 1px solid $mainColor;
  border-bottom: 1px solid $mainColor;
}
.loader {
  position: absolute;
  top: 70%;
  left: 50%;
  margin-top: -($size * 3 + $spacing * 2)/2;
  margin-left: -($size * 3 + $spacing * 2)/2;
  width: $size * 3 + $spacing * 2;
  height: $size;

  &:after {
    content: "";
    position: absolute;
    left: $size + $spacing;
    height: $size;
    width: $size;
    border-radius: $size;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: -($size + $spacing) 0 0 0 rgba(255, 255, 255, 1),
      $size + $spacing 0 0 0 rgba(255, 255, 255, 1);
    animation: alter 1s ease-in-out infinite;
  }
}

/*--------------Intro-------------*/

.intro {
  background: url(../../img/Home/background.jpg);
  background-size: 120%;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  animation: backgroundS 30s ease infinite;
  height: calc(100vh - 100px);
  color: white;
  width: 100%;
  overflow: hidden;
  @media screen and (max-width: 1200px) {
    background-size: cover;
    background-position-y: 0;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 60%;
    width: 600px;
    background: $gradientBackgroundColorTransparent;
    background-size: 800% 100%;
    animation: gradient 10s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
    & > h1 {
      color: white;
      font-weight: 500;
    }
    & > span {
      margin: 80px 0 50px;
      text-align: center;
      margin-top: 200px;
    }
    & > img {
      max-width: 500px;
      width: 90%;
    }

    @media screen and (max-width: 768px) {
      max-width: none;
      width: 100%;
      gap: 50px;

      padding: 100px 40px;
      & > span {
        margin: 200px 0 50px;
      }
      & > img {
        max-width: 500px;
        width: 100%;
      }
    }
    @media screen and (max-width: 576px) {
      padding: 60px 4% 30px;
      justify-content: flex-start;
    }
    @media screen and(max-width: 400px) {
      & > span {
        margin: 20px 0 50px;
      }
    }
  }

  @media screen and (max-width: 768px) {
    background-position: 20% 80%;
  }
}

/*--------------About-------------*/
.about {
  margin: 50px 0;

  img {
    width: 25px;
    margin: 0 10px 0 0;
    float: left;
  }

  &-contant {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-end;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    & > p {
      display: block;
      width: 45%;
      padding: 20px;
      color: $primaryColor;
      & > a {
        background-color: rgba(255, 0, 0, 0.834);
        color: white;
        padding: 0 1px;
        border-radius: 3px;
      }
      @media screen and (max-width: 992px) {
        width: 100%;
      }
    }

    & > h2 {
      font-weight: 600;
    }
  }
}
/*--------------record-------------*/

.record {
  padding: 30px 0;
  margin: 20px 0;
  border-top: 1px solid $mainColor;
  border-bottom: 1px solid $mainColor;
  &__wrapper {
    & > img {
      width: 60px;
    }
    & > a {
      & > h1 {
        transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
        &:hover {
          color: $mainColor;
        }
      }
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
  }
}

/*--------------guarantee-------------*/
.guarantee {
  padding: 30px 0;
  margin: 50px 0;
  align-items: center;
  background: $gradientBackgroundColorTransparent;
  img {
    width: 20%;
  }
  & > h2 {
    margin: 0 0 50px 0;
  }
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__box {
    text-align: left;
    display: flex;
    width: 40%;
    align-items: flex-start;
    gap: 30px;
    p {
      @media screen and (max-width: 768px) {
        text-align: center;
      }
    }
    @media screen and (max-width: 768px) {
      width: 100%;
      align-items: center;
    }
    & > img {
      width: 60px;
    }
    &--reverse {
      flex-direction: row-reverse;
      text-align: right;
    }
  }
}
/*--------------Animations-------------*/

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes backgroundS {
  0% {
    background-position-x: 0%;
  }
  30% {
    background-position-x: 15%;
  }
  30% {
    background-position-x: 25%;
  }
  100% {
    background-position-x: 0%;
  }
}
@keyframes alter {
  0%,
  100% {
    background-color: #58bd919a;
    box-shadow: -($size + $spacing) 0 0 0 #75c9d26f,
      $size + $spacing 0 0 0 #58bd9161;
  }
  50% {
    background-color: #75c9d2;
    box-shadow: 0 0 0 0 rgba(59, 186, 194, 0.4), 0 0 0 0 #58bd91a5;
  }
}
