$primaryColor: #75c9d2;
$mainColor: #58bd92;
$lightColor: #ffffffb8;
$gradientBackgroundColor: linear-gradient(90deg, #58bd91 0%, #75c9d2 100%);

$gradientBackgroundColorTransparent: linear-gradient(
  90deg,
  #75c9d25b 0%,
  #58bd914a 20%,
  #75c9d276 70%,
  #58bd915d 100%
);
$gradientBackgroundColorTransparentLight: linear-gradient(
  90deg,
  #75c9d219 0%,
  #58bd9117 100%
);
$gradientBackgroundColorTransparentButton: linear-gradient(
  90deg,
  #75c9d2bc 0%,
  #58bd91b3 20%,
  #75c9d2de 50%,
  #58bd919b 70%,
  #75c9d2bf 100%
);
$backgroundColor: #75c9d278;
$size: 20px;
$spacing: $size/3;

/*--------------reusable-------------*/
.title {
  font-size: 2rem;
  line-height: 2.4rem;
  text-align: center;
  font-weight: 600;
  color: $primaryColor;

  @media screen and (max-width: 576px) {
    font-size: 1.5rem;
  }
}
.quote {
  color: $mainColor;
  display: block;
  line-height: 2rem;
  font-size: 20px;
  text-align: center;
  padding: 40px 0;
  margin: 20px 0;
  border-top: 1px solid $mainColor;
  border-bottom: 1px solid $mainColor;
}
.loader {
  position: absolute;
  top: 60%;
  left: 50%;
  margin-top: -($size * 3 + $spacing * 2)/2;
  margin-left: -($size * 3 + $spacing * 2)/2;
  width: $size * 3 + $spacing * 2;
  height: $size;

  &:after {
    content: "";
    position: absolute;
    left: $size + $spacing;
    height: $size;
    width: $size;
    border-radius: $size;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: -($size + $spacing) 0 0 0 rgba(255, 255, 255, 1),
      $size + $spacing 0 0 0 rgba(255, 255, 255, 1);
    animation: alter 1s ease-in-out infinite;
  }
}
/*--------------Animations-------------*/

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes backgroundS {
  0% {
    background-position-x: 0%;
  }
  30% {
    background-position-x: 15%;
  }
  30% {
    background-position-x: 25%;
  }
  100% {
    background-position-x: 0%;
  }
}
@keyframes alter {
  0%,
  100% {
    background-color: #58bd919a;
    box-shadow: -($size + $spacing) 0 0 0 #75c9d26f,
      $size + $spacing 0 0 0 #58bd9161;
  }
  50% {
    background-color: #75c9d2;
    box-shadow: 0 0 0 0 rgba(59, 186, 194, 0.4), 0 0 0 0 #58bd91a5;
  }
}
