$primaryColor: #75c9d2;
$mainColor: #58bd92;
$lightColor: #ffffffb8;
$gradientBackgroundColor: linear-gradient(90deg, #58bd91 0%, #75c9d2 100%);

$gradientBackgroundColorTransparent: linear-gradient(
  90deg,
  #75c9d23d 0%,
  #58bd9127 20%,
  #75c9d23a 70%,
  #58bd913f 100%
);
$gradientBackgroundColorTransparentLight: linear-gradient(
  90deg,
  #75c9d219 0%,
  #58bd9117 100%
);
$gradientBackgroundColorTransparentButton: linear-gradient(
  90deg,
  rgba(12, 102, 156, 0.7) 20%,
  rgba(59, 186, 194, 0.7) 100%
);
$backgroundColor: #75c9d278;
$size: 20px;
$spacing: $size/3;
